.body_bg {
    background-color: #222D32;
}

.panel-title {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.mt_150 {
    margin-top: 150px;
}

.lt_aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    background-color: #222D32;
}